#materias {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
}

#materias .cabecalho {
  text-align: center;
  background-color: var(--bg);
  color: var(--fg);
  padding: 1.5rem 2rem;
}

#materias .cabecalho h1 {
  margin: 0;
}

#materias .pagina {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
  width: 75rem;
  max-width: 100%;
  margin-inline: auto;
  box-sizing: border-box;
  background-color: var(--bg-alt);
  color: var(--fg-alt);
  padding: 2rem;
  border-radius: 0.75rem 0.5rem 0rem 0rem;
}

#materias .botao {
  background-color: var(--bg);
  color: var(--fg);
  text-decoration: none;
  padding: 0.75rem 1.25rem;
  margin: 0.5rem 0;
  width: 300px;
  border-radius: 0.75rem;
}

#materias .botao:hover {
  background-color: var(--bg-hover);
}

#materias #tabela-materias {
  width: 100%;
  margin-top: 1.5rem;
  border-collapse: collapse;
}

#materias #tabela-materias th,
#materias #tabela-materias td {
  padding: 0.75rem 1rem;
  border: 1px solid var(--bg);
}

/* #materias #tabela-materias th:first-child, */
/* #materias #tabela-materias td:first-child { */
/*   border-right: 1px solid var(--bg); */
/* } */

#materias #tabela-materias th {
  background-color: var(--bg);
  color: var(--fg);
}
