/* Listagem de professores:  */

#professores {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
}

#professores .cabecalho {
  text-align: center;
  background-color: var(--bg);
  color: var(--fg);
  padding: 1.5rem 2rem;
}

#professores .cabecalho h1 {
  margin: 0;
}

#professores .pagina {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
  width: 75rem;
  max-width: 100%;
  margin-inline: auto;
  box-sizing: border-box;
  background-color: var(--bg-alt);
  color: var(--fg-alt);
  padding: 2rem;
  border-radius: 0.75rem 0.5rem 0rem 0rem;
}

#professores .botao {
  background-color: var(--bg);
  color: var(--fg);
  text-decoration: none;
  padding: 0.75rem 1.25rem;
  margin: 0.5rem 0;
  width: 300px;
  border-radius: 0.75rem;
}

#professores .botao:hover {
  background-color: var(--bg-hover);
}

#professores .botao-excluir {
    background-color: var(--danger); /* cor do botão */
    color: var(--bg-alt); /* cor do texto */
    border-radius: 0.50rem; /* arredondamento da borda */
    border: none;
    padding: 0.50rem 1.00rem; /* */
    transition: background 0.10s; /* transição suave */ 
    margin: 0rem 0;
}

#professores .botao-excluir:hover {
    background-color: var(--danger-hover); /* cor do botão */
    color: var(--bg-alt-hover); /* cor do texto */
}

#professores .botao-edicao {
  color: var(--fg);
  background-color: var(--bg);
  text-decoration: none;
  border-radius: 0.50rem;
  transition: background 0.10s;
  padding: 0.50rem 1.00rem;
}

#professores .botao-edicao:hover {
  color: var(--fg);
  background-color: var(--bg-hover);
  text-decoration: none;
}

#professores #tabela-professores {
  width: 100%;
  margin-top: 1.5rem;
  border-collapse: collapse;
}

#professores #tabela-professores th,
#professores #tabela-professores td {
  padding: 0.75rem 1rem;
  border: 1px solid var(--bg);
}

#professores #tabela-professores .linha-professor:hover {
  background-color: var(--bg-alt-hover)
}

#professores #tabela-professores th {
  background-color: var(--bg);
  color: var(--fg);
}

/* -------------------------------------------------------------------------- */

/* Forms de novo professor: */

#novo-professor {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
}

#novo-professor .cabecalho {
  text-align: center;
  background-color: var(--bg);
  color: var(--fg);
  padding: 1.5rem 2rem;
}

#novo-professor .cabecalho h1 {
  margin: 0;
}

#novo-professor .pagina {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
  width: 75rem;
  max-width: 100%;
  margin-inline: auto;
  box-sizing: border-box;
  background-color: var(--bg-alt);
  color: var(--fg-alt);
  padding: 2rem;
  border-radius: 0.75rem 0.5rem 0rem 0rem;
}

#novo-professor .pagina .forms {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#novo-professor .pagina .forms input {
  margin: 0rem 0 1rem;
}

#novo-professor .pagina .forms input:not([type="radio"]) {
  padding: 0.75rem 1rem;
  width: 300px;
  border: 1px solid var(--bg);
  border-radius: 0.75rem;
  color: var(--fg-alt);
  background-color: var(--bg-alt);
  box-sizing: border-box;
}

#novo-professor .pagina .forms #cursos {
  display: flex;
  flex-direction: column;
}

#novo-professor .pagina .forms #materias label {
  display: block;
  color: var(--fg-alt);
  margin-bottom: 0.5rem;
}

#novo-professor .pagina .forms .botao {
  background-color: var(--bg);
  color: var(--fg);
  text-decoration: none;
  padding: 0.75rem 1.25rem;
  margin: 0.5rem 0 0.5rem;
  width: 300px;
  border-radius: 0.75rem;
}

#novo-professor .pagina .mensagem {
  color: var(--success);
  text-align: center;
}

#novo-professor .botao:hover {
  background-color: var(--bg-hover);
}

/* Dados de um professor: */

#professor {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
}

#professor .cabecalho {
  text-align: center;
  background-color: var(--bg);
  color: var(--fg);
  padding: 1.5rem 2rem;
}

#professor .cabecalho h1 {
  margin: 0;
}

#professor .pagina {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
  width: 75rem;
  max-width: 100%;
  margin-inline: auto;
  box-sizing: border-box;
  background-color: var(--bg-alt);
  color: var(--fg-alt);
  padding: 2rem;
  border-radius: 0.75rem 0.5rem 0rem 0rem;
}

#professor .botao {
  background-color: var(--bg);
  color: var(--fg);
  text-decoration: none;
  padding: 0.75rem 1.25rem;
  margin: 0.5rem 0;
  width: 300px;
  border-radius: 0.75rem;
}

#professor .botao:hover {
  background-color: var(--bg-hover);
}


