:root {
  --fg: #F8E7C9;
  --bg: #064E3B;
  --bg-hover: #04372A;

  --fg-alt: #064E3B;
  --bg-alt: #FFFBF2;
  --bg-alt-hover: #F5EFE2;

  --success: #1B8A5A;
  --warning: #C77700;
  --danger: #D64545;
  --danger-hover: #c03a3a;
}
