<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Sistema Web Escolar - {{ Aluno[1] }}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='alunos.css') }}">
  </head>

  <body id="aluno">
    <header class="cabecalho">
      <h1>Sistema Web Escolar</h1>
    </header>

    <div class="pagina">
      <h2>{{ Aluno[1] }}</h2>
      <h3>Número de matricula: {{ Aluno[0] }}</h3>
      <h3>Email: {{ Aluno[2] }}</h3>
      <h3>Telefone: {{ Aluno[3] }}</h3>
      <h3>Data de nascimento: {{ Aluno[4] }}</h3>
    </div>
  </body>
</html>
