<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Sistema Web Escolar - Professores </title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='professor.css' )}}">
  </head>

  <body id="professores">
    <header class="cabecalho">
      <h1> Sistema Web Escolar </h1>
    </header>

    

    <div class="pagina">
      <a class="botao" href="/professores/novo/"> Adicionar professor </a>

      <table id="tabela-professores">
        <thead>
          <tr>
            <th> ID </th>
            <th> Nome </th>
            <th> Email </th>
            <th> Telefone </th>
            <th> Data de nascimento </th>
            <th> Disciplinas lesionadas </th>
          </tr>
        </thead>

        <tbody>
          {% for professor in Professores %}
          <tr class="linha-professor" data-href="/professores/{{ professor[0] }}">
            <td>{{ professor[0] }}</td>
            <td>{{ professor[1] }}</td>
            <td>{{ professor[2] }}</td>
            <td>{{ professor[3] }}</td>
            <td>{{ professor[4] }}</td>
            <td>{{ professor[5] }}</td>
            <td> <form action="/professores/{{ professor[0] }}/excluir" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir?')"> 
              <button class="botao-excluir" type="submit"> excluir </button> 
            </form> </td>
          </tr>

          {% else %}
            <tr><td colspan="4"> Nenhum professor contratado. </td></tr>
            
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Para o clique da linha: -->
    <script>
    document.addEventListener("DOMContentLoaded", function() {
      const linhas = document.querySelectorAll(".linha-professor");
      linhas.forEach(linha => {
        linha.addEventListener("click", function() {
          const selecao = window.getSelection().toString();
          const algoFoiSelecionado = selecao.length != 0;

          if(!algoFoiSelecionado)
            window.location.href = this.dataset.href;
        });
      });
    });
    </script>

  </body>
</html> 
